
.body {
  font-family: "Open Sans", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
/* nav section */
#navbar-section{
    width: 100%;
    max-height: 92px;
    border: none;
    background-color: #FFFFFF;
}
#navbar-section #navbar{
   display: flex;
   justify-content:space-around;
   align-items: center;
   padding: 16px 0px 16px 0px;
}
#navbar .navbar-logo{
    width: 139px;
    height: 60px;
}
#navbar .menu{
    display: flex;
    gap: 32px;
}
.menu .menu-link{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
.early-access-btn{
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    font-weight: 550; 
}

/* hero section */
#hero-section{
    height: 100vh;
    background-image:url("../resources/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-section .hero-container{
    max-width: 720px;
    margin-left: 0 auto;
    text-align: center;
    color: #FFFFFF;
}
.hero-badge{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #FFFFFF;
    color: #30B868;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 24px;
}
.badge-dot{
    width: 8px;
    height: 8px;
    background-color:#30B868;
    border-radius: 50%;
}
.hero-heading{
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.hero-highlight{
    color: #30B868;
}
.hero-text{
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.hero-actions{
    display: flex;
    gap: 20px;
}
.hero-first-btn{
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 15px;     
}
.hero-second-btn{
    background-color: transparent;
    color: #FFFFFF;
    padding: 10px 16px;
    border: 1px solid #FFFFFF;
    font-size: 15;

}

/* note section */

#note-section {
  padding: 80px 0;
  background-color: #ffffffdd;
}

#note-section  .note-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.note-heading {
  font-size: 32px;
  margin-bottom: 12px;
  color: #0f172a;
}

.note-subtitle {
  font-size: 14px;
  color: #64748b;
  margin-bottom: 48px;
}

.note-cards-container {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.note-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 32px 20px;
  width: 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.note-icon-bg {
  width: 56px;
  height: 56px;
  background-color: rgba(249, 85, 85, 1);
  border-radius: 50%;
  margin: 0 auto 20px auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.note-icon {
  width: 24px;
  height: 24px;
}

.note-card-title {
  font-size: 16px;
  margin-bottom: 8px;
  color: #001931;
}

.note-card-text {
  font-size: 13px;
  color: #627382;
  line-height: 1.5;
}

/* second brain section */

#second-brain-section {
  padding: 80px 20px;
  background: #ffffff;
}

.second-brain-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.image-box img {
  max-width: 100%;
  height: auto;
}

.content-box {
  max-width: 520px;
}

.section-label {
  color: #30B868;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.content-box h2 {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #001931;
}

.description {
  font-size: 16px;
  color: #627382;
  margin-bottom: 30px;
}

.feature-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
  font-size: 16px;
  color: #627382;
}

.feature-list img {
  width: 20px;
  height: 20px;
}


